<header class="frame-header">
  <div class="infosys-finacle-logo-1-parent">
    <img
      class="infosys-finacle-logo-1-icon"
      loading="lazy"
      alt=""
      src="assets/infosysfinaclelogo-1@2x.png"
    />
    <div class="text-field-group">
      <text-field
        [leadingIcon]="false"
        [state]="'Enabled'"
        [style]="'Outlined'"
        [textConfigurations]="'Label text'"
        [trailingIcon]="true"
        [supportingText]="'Supporting text'"
        [showSupportingText]="false"
        [placeholder]="'Search Here'"
      >
      </text-field>
      <div class="notifications-parent">
        <img class="notifications-icon" alt="" src="assets/notifications.svg" />
        <div class="avatar-parent">
          <img
            class="avatar-icon"
            loading="lazy"
            alt=""
            src="assets/ellipse-1@2x.png"
          />
          <div class="prayag-jaikar-parent">
            <a class="prayag-jaikar">Prayag Jaikar</a>
            <img
              class="arrow-drop-down-icon"
              alt=""
              src="assets/arrow-drop-down.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
