<div class="s2">
  <navigation-drawer> </navigation-drawer>
  <main class="frame-parent">
    <frame-component
      [infosysFinacleLogo1]="'assets/infosysfinaclelogo-1@2x.png'"
    >
    </frame-component>
    <section class="frame-wrapper">
      <div class="frame-group">
        <div class="frame-container">
          <div class="linear-arrows-arrow-left-parent">
            <img
              class="linear-arrows-arrow-left"
              loading="lazy"
              alt=""
              src="assets/linear--arrows--arrow-left.svg"
            />
            <div class="add-systematic-transactions">
              Add Systematic Transactions
            </div>
          </div>
          <div class="frame-div">
            <div class="account-info-labels-parent">
              <div class="account-info-labels">
                <a class="invesment-account">Invesment Account</a>
                <div class="mias-education">Mia’s Education</div>
              </div>
              <div class="account-info-labels">
                <a class="account-balance">Account Balance</a>
                <div class="usd-10000000">USD 100,000.00</div>
              </div>
              <div class="action-labels-parent">
                <div class="action-labels">
                  <a class="subscription">Subscription</a>
                  <div class="mias-education">1</div>
                </div>
                <div class="advisor-separator"></div>
                <div class="action-labels">
                  <div class="redemption">Redemption</div>
                  <div class="mias-education">0</div>
                </div>
                <div class="advisor-separator"></div>
                <div class="action-labels">
                  <a class="subscription">Switch</a>
                  <div class="mias-education">0</div>
                </div>
              </div>
            </div>
            <div class="frame-parent1">
              <div class="advisor-avatar-parent">
                <img
                  class="advisor-avatar-icon"
                  alt=""
                  src="assets/ellipse-1@2x.png"
                />
                <div class="frame-parent2">
                  <div class="phill-murry-parent">
                    <a class="phill-murry">Phill Murry</a>
                    <img
                      class="frame-child"
                      alt=""
                      src="assets/frame-1430104588.svg"
                    />
                  </div>
                  <div class="cc345a">CC345A</div>
                </div>
              </div>
              <div class="advisor-separator"></div>
              <img class="error-icon" alt="" src="assets/error.svg" />
            </div>
          </div>
        </div>
        <div class="frame-parent3">
          <div class="frame-parent4">
            <div class="frame-wrapper1">
              <div class="segment-control-container-parent">
                <div class="segment-control-container">
                  <segmented-button [density]="'0'" [segments]="'2'">
                  </segmented-button>
                  <div class="text-field-parent">
                    <div class="text-field">
                      <div class="text-field1">
                        <div class="state-layer">
                          <div class="content">
                            <input
                              class="input-text"
                              placeholder="Search"
                              type="text"
                            />
                            <div class="label-text">
                              <div class="nav-date">Fund</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="supporting-text">
                        <div class="supporting-text1">Supporting text</div>
                      </div>
                    </div>
                    <div class="nav-00-parent">
                      <div class="account-type-container">NAV: 0.0</div>
                      <div class="nav-date">NAV Date:</div>
                    </div>
                  </div>
                </div>
                <div class="form-field-container">
                  <form-field-labels [planType]="'Plan Type'">
                  </form-field-labels>
                  <div class="form-field-labels">
                    <div class="account-type-container">
                      <span>Account Type</span>
                      <span class="span"> </span>
                      <span class="span1">*</span>
                    </div>
                    <div class="text-field2">
                      <div class="text-field3">
                        <div class="state-layer1">
                          <div class="content1">
                            <div class="plan-types">
                              <div class="plan-title-placeholder">Select</div>
                            </div>
                          </div>
                          <img
                            class="trailing-icon"
                            alt=""
                            src="assets/trailingicon.svg"
                          />
                        </div>
                      </div>
                      <div class="supporting-text2">
                        <div class="supporting-text1">Supporting text</div>
                      </div>
                    </div>
                  </div>
                  <form-field-labels [planType]="'Order Type'">
                  </form-field-labels
                  ><form-field-labels [planType]="'Folio Number'">
                  </form-field-labels>
                </div>
                <div class="frame-parent5">
                  <div class="language-separators-parent">
                    <div class="language-separators"></div>
                    <div class="language-parent">
                      <img
                        class="language-icon"
                        alt=""
                        src="assets/language.svg"
                      />
                      <img
                        class="gmail-groups-icon"
                        alt=""
                        src="assets/gmail-groups.svg"
                      />
                    </div>
                    <div class="language-separators"></div>
                  </div>
                  <button-1
                    [showIcon]="false"
                    [state]="'Enabled'"
                    [style]="'Filled'"
                    [labelText]="'Add'"
                  >
                  </button-1>
                </div>
              </div>
            </div>
            <div class="frame-parent6">
              <div class="frame-wrapper2">
                <div class="frame-parent7">
                  <div class="plan-options">
                    <div class="plan-title-placeholder-wrapper">
                      <div class="plan-title-placeholder">1</div>
                    </div>
                    <div class="add-plans">Add Plans</div>
                  </div>
                  <div class="plan-filter-separator-parent">
                    <div class="plan-filter-separator"></div>
                    <div class="linear-arrows-arrow-left-parent">
                      <div class="review-icon">
                        <div class="plan-title-placeholder">2</div>
                      </div>
                      <a class="review">Review</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="plan-details">
                <div class="plan-details-content">
                  <div class="plan-details-items">
                    <div class="plan-item">
                      <div class="linear-arrows-arrow-left-parent">
                        <img
                          class="error-icon"
                          loading="lazy"
                          alt=""
                          src="assets/more-vert.svg"
                        />
                        <div class="add-systematic-transactions">
                          Birla Sun LIfe
                        </div>
                      </div>
                      <div class="plan-actions">
                        <div class="plan-actions-child"></div>
                        <div class="systematic-plan">Systematic Plan</div>
                        <div class="plan-actions-child"></div>
                        <div class="systematic-plan">Cash Trading</div>
                        <div class="plan-actions-child"></div>
                        <div class="systematic-plan">Subscription</div>
                        <div class="plan-actions-child"></div>
                        <div class="systematic-plan">Folio No. 1375048562</div>
                      </div>
                    </div>
                    <div class="plan-options">
                      <img
                        class="language-icon"
                        alt=""
                        src="assets/today.svg"
                      />
                      <img
                        class="gmail-groups-icon"
                        alt=""
                        src="assets/archive.svg"
                      />
                      <img
                        class="language-icon"
                        alt=""
                        src="assets/folder.svg"
                      />
                    </div>
                  </div>
                  <div class="plan-basics-parent">
                    <div class="plan-basics">Plan Basics</div>
                    <div class="plan-selection">
                      <div class="plan-types">
                        <radio-buttons
                          [selected]="true"
                          [state]="'Enabled'"
                          [icon]="'assets/icon-13.svg'"
                        >
                        </radio-buttons>
                        <div class="date-based-plan">Date Based Plan</div>
                      </div>
                      <div class="plan-filter-separator-parent">
                        <radio-buttons
                          [selected]="false"
                          [state]="'Enabled'"
                          [icon]="'assets/icon-14.svg'"
                        >
                        </radio-buttons>
                        <div class="systematic-plan">Frequency Based Plan</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="plan-frequency">
                <div class="frequency-fields">
                  <div class="text-field4">
                    <div class="text-field1">
                      <div class="state-layer">
                        <div class="content2">
                          <input
                            class="input-text1"
                            placeholder="GBP 89,000"
                            type="text"
                          />
                          <div class="label-text4">
                            <div class="nav-date">Reference Amount</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="supporting-text">
                      <div class="supporting-text5">Supporting text</div>
                    </div>
                  </div>
                  <div class="text-field6">
                    <div class="text-field7">
                      <div class="state-layer3">
                        <div class="content3">
                          <input
                            class="input-text2"
                            placeholder="24/04/2022"
                            type="text"
                          />
                          <div class="label-text6">
                            <div class="nav-date">Next Execution Date</div>
                          </div>
                        </div>
                        <icon-button
                          [state]="'Enabled'"
                          [style]="'Outlined'"
                          [trailingIconHeight]="'20px'"
                          [trailingIconAlignSelf]="'unset'"
                          [trailingIconWidth]="'20px'"
                          [icon]="'assets/icon-15.svg'"
                        >
                        </icon-button>
                      </div>
                    </div>
                    <div class="supporting-text">
                      <div class="supporting-text5">Supporting text</div>
                    </div>
                  </div>
                  <div class="text-field8">
                    <div class="text-field7">
                      <div class="state-layer3">
                        <div class="content3">
                          <input
                            class="input-text2"
                            placeholder="26/07/2024"
                            type="text"
                          />
                          <div class="label-text6">
                            <div class="nav-date">Cycle Start Date</div>
                          </div>
                        </div>
                        <icon-button
                          [state]="'Enabled'"
                          [style]="'Outlined'"
                          [trailingIconHeight]="'20px'"
                          [trailingIconAlignSelf]="'unset'"
                          [trailingIconWidth]="'20px'"
                          [icon]="'assets/icon-15.svg'"
                        >
                        </icon-button>
                      </div>
                    </div>
                    <div class="supporting-text">
                      <div class="supporting-text5">Supporting text</div>
                    </div>
                  </div>
                  <div class="frequency-end-date">
                    <div class="frequency-end-date-labels">
                      <div class="frequency">Frequency</div>
                      <img
                        class="frequency-end-date-labels-child"
                        alt=""
                        src="assets/line-6.svg"
                      />
                      <div class="end-date">End Date</div>
                    </div>
                    <text-field
                      [leadingIcon]="false"
                      [state]="'Enabled'"
                      [style]="'Outlined'"
                      [textConfigurations]="'Label text'"
                      [trailingIcon]="true"
                      [supportingText]="'Supporting text'"
                      [showSupportingText]="false"
                      [textFieldHeight]="'44px'"
                      [textFieldWidth]="'250px'"
                      [textFieldBackgroundColor]="'#fff'"
                      [textFieldAlignSelf]="'unset'"
                      [stateLayerHeight]="'unset'"
                      [stateLayerFlex]="'1'"
                      [contentWidth]="'unset'"
                      [contentBorder]="'unset'"
                      [contentOutline]="'unset'"
                      [contentBackgroundColor]="'unset'"
                      [contentFontFamily]="'unset'"
                      [contentFontSize]="'unset'"
                      [contentColor]="'unset'"
                      [contentHeight]="'48px'"
                    >
                    </text-field>
                  </div>
                  <frequency-input-fields [frequency]="'Frequency'">
                  </frequency-input-fields
                  ><frequency-input-fields
                    [frequencyInputFieldsLeft]="'564px'"
                    [frequency]="'Holiday Rule'"
                  >
                  </frequency-input-fields>
                  <div class="day-of-week">
                    <div class="day-of-week-fields">
                      <div class="day-of-week-labels">
                        <div class="frequency-end-date-labels">
                          <div class="nav-date">Date</div>
                          <img
                            class="frequency-end-date-labels-child"
                            alt=""
                            src="assets/line-6.svg"
                          />
                          <div class="day-of-the">Day of the Week</div>
                        </div>
                        <text-field
                          [leadingIcon]="false"
                          [state]="'Enabled'"
                          [style]="'Outlined'"
                          [textConfigurations]="'Label text'"
                          [trailingIcon]="true"
                          [supportingText]="'Supporting text'"
                          [showSupportingText]="false"
                          [textFieldHeight]="'44px'"
                          [textFieldWidth]="'unset'"
                          [textFieldBackgroundColor]="'#fff'"
                          [textFieldAlignSelf]="'stretch'"
                          [stateLayerHeight]="'unset'"
                          [stateLayerFlex]="'1'"
                          [contentWidth]="'unset'"
                          [contentBorder]="'unset'"
                          [contentOutline]="'unset'"
                          [contentBackgroundColor]="'unset'"
                          [contentFontFamily]="'unset'"
                          [contentFontSize]="'unset'"
                          [contentColor]="'unset'"
                          [contentHeight]="'48px'"
                        >
                        </text-field>
                      </div>
                      <div class="text-field10">
                        <div class="state-layer5">
                          <div class="content5">
                            <div class="plan-types">
                              <div class="plan-title-placeholder">
                                Next Week
                              </div>
                            </div>
                          </div>
                          <icon-button
                            [state]="'Enabled'"
                            [style]="'Standard'"
                            [trailingIconHeight]="'unset'"
                            [trailingIconAlignSelf]="'stretch'"
                            [trailingIconWidth]="'24px'"
                            [icon]="'assets/icon-17.svg'"
                          >
                          </icon-button>
                        </div>
                      </div>
                    </div>
                    <div class="dividend-payment-option-parent">
                      <div class="account-type-container">
                        Dividend Payment Option
                      </div>
                      <text-field
                        [leadingIcon]="false"
                        [state]="'Enabled'"
                        [style]="'Outlined'"
                        [textConfigurations]="'Label text'"
                        [trailingIcon]="true"
                        [supportingText]="'Supporting text'"
                        [showSupportingText]="false"
                        [textFieldHeight]="'44px'"
                        [textFieldWidth]="'250px'"
                        [textFieldBackgroundColor]="'#fff'"
                        [textFieldAlignSelf]="'unset'"
                        [stateLayerHeight]="'unset'"
                        [stateLayerFlex]="'1'"
                        [contentWidth]="'unset'"
                        [contentBorder]="'unset'"
                        [contentOutline]="'unset'"
                        [contentBackgroundColor]="'unset'"
                        [contentFontFamily]="'unset'"
                        [contentFontSize]="'unset'"
                        [contentColor]="'unset'"
                        [contentHeight]="'48px'"
                      >
                      </text-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="transactions-container-wrapper">
                <div class="transactions-container">
                  <div class="transactions-setting">
                    <div class="date-based-plan">
                      Process Systematic Plan Transactions
                    </div>
                  </div>
                  <switch [icon]="false" [selected]="true" [state]="'Enabled'">
                  </switch>
                </div>
              </div>
            </div>
          </div>
          <footer class="frame-footer">
            <div class="frame-parent9">
              <div class="button-parent">
                <button-1
                  [showIcon]="false"
                  [state]="'Enabled'"
                  [style]="'Outlined'"
                  [labelText]="'Save & Exit'"
                  [buttonWidth]="'120px'"
                >
                </button-1
                ><button-1
                  [showIcon]="false"
                  [state]="'Enabled'"
                  [style]="'Outlined'"
                  [labelText]="'Validate'"
                  [buttonWidth]="'120px'"
                >
                </button-1>
              </div>
              <button-1
                [showIcon]="false"
                [state]="'Enabled'"
                [style]="'Filled'"
                [labelText]="'Next'"
                [buttonWidth]="'117px'"
              >
              </button-1>
            </div>
          </footer>
        </div>
      </div>
    </section>
  </main>
</div>