<div class="s1">
  <navigation-drawer [navigationDrawerHeight]="'760px'"> </navigation-drawer>
  <section class="frame-section">
    <frame-component
      [infosysFinacleLogo1]="'assets/infosysfinaclelogo-1@2x.png'"
    >
    </frame-component>
    <div class="page-header-parent">
      <div class="page-header">
        <h3 class="systematic-transactions">Systematic Transactions</h3>
        <div class="transactions-content-wrapper">
          <div class="transactions-content">
            <form class="add-transaction-header-parent">
              <div class="add-transaction-header">
                <div class="add-systematic-transactions1">
                  Add Systematic Transactions
                </div>
                <div class="transaction-input-fields">
                  <div class="text-field11">
                    <div class="text-field12">
                      <div class="state-layer6">
                        <div class="content6">
                          <input
                            class="input-text4"
                            placeholder="Search"
                            type="text"
                          />
                          <div class="label-text12">
                            <a class="label-text13">Customer</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="supporting-text10">
                      <div class="supporting-text11">Supporting text</div>
                    </div>
                  </div>
                  <div class="text-field11">
                    <div class="text-field12">
                      <div class="state-layer6">
                        <div class="content6">
                          <input
                            class="input-text4"
                            placeholder="Search"
                            type="text"
                          />
                          <div class="label-text12">
                            <div class="label-text15">
                              <span class="investment-account"
                                >Investment Account</span
                              >
                              <span class="span2"> </span>
                              <span class="span3">*</span>
                              <span class="span2"> </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="supporting-text10">
                      <div class="supporting-text11">Supporting text</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="account-type-parent">
                <div class="account-type-container1">
                  <span class="investment-account">Account Type</span>
                  <span class="span5"> </span>
                  <span class="span3">*</span>
                </div>
                <div class="account-type-options">
                  <div class="account-type-radio-buttons">
                    <div class="account-type-radio-options">
                      <radio-buttons
                        [selected]="true"
                        [state]="'Enabled'"
                        [icon]="'assets/icon-13.svg'"
                      >
                      </radio-buttons>
                      <div class="cash-trading1">Cash Trading</div>
                    </div>
                    <div class="account-type-radio-options">
                      <radio-buttons
                        [selected]="false"
                        [state]="'Enabled'"
                        [icon]="'assets/icon-14.svg'"
                      >
                      </radio-buttons>
                      <div class="margin-trading">Margin Trading</div>
                    </div>
                  </div>
                  <div class="button-group">
                    <button-1
                      [showIcon]="false"
                      [state]="'Enabled'"
                      [style]="'Filled'"
                      [labelText]="'Proceed'"
                      [buttonWidth]="'117px'"
                    >
                    </button-1>
                    <a class="clear-all">Clear All</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="existing-orders-content-wrapper">
        <div class="existing-orders-content">
          <div class="existing-orders">Existing Orders</div>
          <form class="order-input-fields">
            <div class="text-field15">
              <div class="text-field12">
                <div class="state-layer8">
                  <div class="content8">
                    <div class="input-text6">
                      <div class="input-text7">Search</div>
                    </div>
                    <div class="label-text12">
                      <input
                        class="label-text17"
                        placeholder="Function Code"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="supporting-text10">
                <div class="supporting-text15">Supporting text</div>
              </div>
            </div>
            <div class="text-field17">
              <div class="text-field12">
                <div class="state-layer8">
                  <div class="content8">
                    <div class="input-text6">
                      <div class="input-text7">Search</div>
                    </div>
                    <div class="label-text12">
                      <input
                        class="label-text17"
                        placeholder="Search Investment Account"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="supporting-text10">
                <div class="supporting-text17">Supporting text</div>
              </div>
            </div>
            <div class="text-field17">
              <div class="text-field12">
                <div class="state-layer8">
                  <div class="content8">
                    <div class="input-text6">
                      <div class="input-text7">Search</div>
                    </div>
                    <div class="label-text12">
                      <input
                        class="label-text17"
                        placeholder="Systematic Plan ID"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="supporting-text10">
                <div class="supporting-text17">Supporting text</div>
              </div>
            </div>
            <div class="text-field17">
              <div class="text-field12">
                <div class="state-layer8">
                  <div class="content8">
                    <div class="input-text6">
                      <div class="input-text7">Search</div>
                    </div>
                    <div class="label-text12">
                      <input
                        class="label-text17"
                        placeholder="Smart SIP ID"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="supporting-text10">
                <div class="supporting-text17">Supporting text</div>
              </div>
            </div>
            <button-1
              [showIcon]="false"
              [state]="'Enabled'"
              [style]="'Filled'"
              [labelText]="'Go'"
              [buttonWidth]="'117px'"
            >
            </button-1>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
