<div class="form-field-labels1">
  <div class="plan-type">{{planType}}</div>
  <div class="text-field13">
    <div class="text-field14">
      <div class="state-layer11">
        <div class="content7">
          <div class="label-text13">
            <div class="label-text14">Select</div>
          </div>
        </div>
        <img class="trailing-icon1" alt="" src="assets/trailingicon.svg" />
      </div>
    </div>
    <div class="supporting-text12">
      <div class="supporting-text13">Supporting text</div>
    </div>
  </div>
</div>
