<div class="navigation-drawer" [ngStyle]="navigationDrawerStyle">
  <div class="building-blocks-headline">
    <div class="title">Title</div>
  </div>
  <div class="section-header-1">
    <div class="left">
      <div class="label1">Mail</div>
    </div>
  </div>
  <building-blocks-nav-item
    [selected]="true"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'24'"
    [labelText]="'Dashboard'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon.svg'"
  >
  </building-blocks-nav-item
  ><building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Accounts'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-1.svg'"
    [iconOverflow]="'hidden'"
  >
  </building-blocks-nav-item
  ><building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Risk Profile'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-2.svg'"
    [iconOverflow]="'hidden'"
  >
  </building-blocks-nav-item
  ><building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Portfolio'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-3.svg'"
    [iconOverflow]="'unset'"
  >
  </building-blocks-nav-item>
  <div class="divider-1">
    <div class="divider"></div>
  </div>
  <div class="section-header-1">
    <div class="left">
      <div class="label2">Labels</div>
    </div>
  </div>
  <building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Goal Planning'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-4.svg'"
    [iconOverflow]="'unset'"
  >
  </building-blocks-nav-item
  ><building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Orders'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-4.svg'"
    [iconOverflow]="'unset'"
  >
  </building-blocks-nav-item
  ><building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Insurance'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-4.svg'"
    [iconOverflow]="'unset'"
  >
  </building-blocks-nav-item>
  <div class="divider-1">
    <div class="divider"></div>
  </div>
  <div class="section-header-1">
    <div class="left">
      <div class="label2">Labels</div>
    </div>
  </div>
  <building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Activity'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-4.svg'"
    [iconOverflow]="'unset'"
  >
  </building-blocks-nav-item
  ><building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Report'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-4.svg'"
    [iconOverflow]="'unset'"
  >
  </building-blocks-nav-item
  ><building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Order Inbox'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-4.svg'"
    [iconOverflow]="'unset'"
  >
  </building-blocks-nav-item
  ><building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Referal Inbox'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-4.svg'"
    [iconOverflow]="'unset'"
  >
  </building-blocks-nav-item
  ><building-blocks-nav-item
    [selected]="false"
    [showIcon]="true"
    [state]="'Enabled'"
    [badgeLabelText]="'100+'"
    [labelText]="'Admin Activities'"
    [showBadgeLabel]="false"
    [icon]="'assets/icon-4.svg'"
    [iconOverflow]="'unset'"
  >
  </building-blocks-nav-item>
</div>