<div class="frequency-input-fields" [ngStyle]="frequencyInputFieldsStyle">
  <div class="frequency1">{{frequency}}</div>
  <text-field
    [leadingIcon]="false"
    [state]="'Enabled'"
    [style]="'Outlined'"
    [textConfigurations]="'Label text'"
    [trailingIcon]="true"
    [supportingText]="'Supporting text'"
    [showSupportingText]="false"
    [textFieldHeight]="'44px'"
    [textFieldWidth]="'250px'"
    [textFieldBackgroundColor]="'#fff'"
    [textFieldAlignSelf]="'unset'"
    [stateLayerHeight]="'unset'"
    [stateLayerFlex]="'1'"
    [contentWidth]="'unset'"
    [contentBorder]="'unset'"
    [contentOutline]="'unset'"
    [contentBackgroundColor]="'unset'"
    [contentFontFamily]="'unset'"
    [contentFontSize]="'unset'"
    [contentColor]="'unset'"
    [contentHeight]="'48px'"
  >
  </text-field>
</div>
